* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("750bb.jpg");
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.img {
    height: 100%;
    width: 100%;
}
